@import '@/design/methodCss';
@import '@/design/uitl';

.timeline {
  @include initialize($w, null, 3.4%, null, $ml, null, #ffffff);

  @apply text-base;
  @apply shadow rounded;

  .timeline_img {
    @apply relative rounded;

    @include w-h(100%, 140px);
    // @include bg-img("@/assets/img/si.jpg");

    h4 {
      position: absolute;

      @include excursion(16%, null, 45%, null);

      color: white;
      font-weight: 300;
    }

    p {
      position: absolute;

      @include excursion(53%, null, 39%, null);

      color: #7f828f;
      font-weight: 300;
      font-size: 15px;
    }
  }

  .timeline-type {
    @apply shadow mt-1 rounded;

    .timeline-type-name {
      ul li {
        display: inline-block;

        @apply p-4 text-lg font-semibold;
      }
    }
  }

  .timeline-time {
    @apply relative mt-4;

    .block {
      @apply mx-4 mt-2;

      .block-1 {
        @apply m-2;

        h4 {
          @apply text-lg;
        }
      }
    }
  }
}
