
/* 关于界面
---------------------------------------------------------------- */
.about_main {
  @apply fixed w-full h-full bg-white;

  @include initialize(94%, 92%, 4.5%, null, 3%, null, null);

  @apply bg-white overflow-auto;

  .about_content {
    @apply absolute shadow;

    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

    .about-bg {
      height: 600px;
      // background: no-repeat center/100% url("../../assets/img/ab.jpg");

      @apply shadow;

      .about-1 {
        @include initialize(35%, 61%, auto, auto, auto, auto, null);

        @apply shadow;

        .about-1-1 {
          height: 50%;

          .about-1-1-1 {
            @include initialize(230px, 190px, 3%, auto, auto, auto, null);

            @apply p-3;

            img {
              @include w-h;

              border-radius: 2%;
            }
          }
        }

        .about-1-2 {
          @include initialize(null, 20%, 0, auto, auto, auto, #4d4d4d);

          @apply p-1 pt-4 text-lg text-center;

          a {
            background-image: linear-gradient(90deg, #f66, #f90);
            background-clip: text;
            animation: hue 5s linear infinite;
            -webkit-text-fill-color: transparent;

            @keyframes hue {
              from {
                filter: hue-rotate(0);
              }

              to {
                filter: hue-rotate(-1turn);
              }
            }
          }
        }

        .about-1-3 {
          @include initialize(50%, 30%, 0, auto, auto, auto, null);

          .about-1-3-1 {
            @apply text-center py-2 m-1;
          }
        }
      }

      .about-2 {
        @include initialize(35%, null, 10px, auto, auto, auto, null);

        @apply text-base cursor-pointer bg-gray-200;
        @apply shadow rounded-sm;

        .about-2-1 {
          @apply pl-5;
        }
      }

      .about-3 {
        width: 35%;

        @apply m-auto mt-4 shadow;
        @apply bg-pink-50;
      }
    }

    .bg-2 {
      margin: 10px auto 0 auto;

      @apply w-full;

      .bg-2-1 {
        @apply m-2;

        .bg-2-1-1 {
          @apply m-2 text-lg;
        }

        .bg-2-1-2 {
          @apply m-2 text-base font-light;
        }
      }

      .bg-2-2 {
        @apply m-2;

        .bg-2-2-1 {
          @apply m-2 text-lg;
        }

        .bg-2-2-2 {
          @apply m-2 text-base font-light;
        }
      }

      .bg-2-3 {
        @apply m-2 text-lg;

        .bg-2-3-1 {
          @apply m-2;
        }

        .bg-2-3-2 {
          @apply m-2 text-base font-light;
        }
      }
    }
  }
}

.about_main::-webkit-scrollbar {
  display: none;
}
.icon {
  @include w-h(1.5em, 1.5em);

  overflow: hidden;
  vertical-align: -0.5rem;
  fill: currentColor;
}
