@import '@/design/methodCss.scss';
@import '@/design/uitl';

/* blogs
---------------------------------------------------------------- */
#blogs {
  @include initialize(50%, 92%, 4.5%, null, 25%, null, #ffffff);
  @apply shadow;

  .blogs_main {
    @apply shadow-sm rounded-sm overflow-auto;

  }
}

@screen xp {
  #blogs {
    .blogs_main {
      @apply m-0 mt-14;

      width: 100%;
    }
  }
}

/* blogssidebar
---------------------------------------------------------------- */
#blogssidebar {
  @apply fixed bg-gray-100 shadow;

  @include excursion($Text_height, null, null, $sidebar_r_r);
  @include w-h(20.4%, 93%);
  @apply ml-3 overflow-auto;

  .blogssidebar_main {
    @include w-h;

    .blogssidebar_count {
      @apply p-1 mb-2 m-auto shadow rounded;

      width: 97%;

      @apply bg-white cursor-pointer;
    }

    .blogssidebar_input {
      @apply flex p-2 mt-1 mb-2 shadow rounded m-auto;

      width: 97%;

      @apply bg-white;

      div > input {
        @apply ml-1 rounded bg-gray-100;

        height: 30px;
      }

      div > button {
        @apply text-base font-medium ml-3;

        height: 30px;
      }
    }
  }
}
// 隐藏滚动条
#blogssidebar::-webkit-scrollbar {
  display: none;
}

.icon {
  @include w-h(1.5em, 1.5em);

  overflow: hidden;
  vertical-align: -0.1em;
  fill: currentColor;
}

@screen xp {
  #blogssidebar {
    display: none;
  }
}
