$w: 50%;
$ml: 25%;

$back_sidebar: #fffffe;
$back_headers: #fffffe;

// 侧边栏偏移值
$sidebar_r_t: 60px;
$sidebar_r_b: 3%;
$sidebar_r_l: 3%;
$sidebar_r_r: 3%;
//内容高度
$Text_height: 9%;

// 渐变色文字
@mixin gradient-text() {
  color: transparent;
  background-image: linear-gradient(90deg, red, blue);
  background-clip: text;
}

// 下划线
@mixin underline {
  border-bottom: 1px dashed #f1f1f1;
}

// 页面初始化
@mixin initialize($w, $h, $mt, $mb, $ml, $mr, $bg) {
  @if $w !=null {
    width: $w;
  }

  @if $h !=null {
    height: $h;
  }

  @if $mt !=null {
    margin-top: $mt;
  }

  @if $mb !=null {
    margin-bottom: $mb;
  }

  @if $ml !=null {
    margin-left: $ml;
  }

  @if $mr !=null {
    margin-right: $mr;
  }

  @if $bg !=null {
    background-color: $bg;
  }
}

// 宽高
@mixin w-h($w: 100%, $h: 100%) {
  width: $w;
  height: $h;
}

// 背景图片
@mixin bg-img($imgUrl) {
  // background: no-repeat center/100% url($imgUrl);
}

/**
 * @description: 图片模糊
/ **/
@mixin img-dim {
  transform: scale(1.1);
  -webkit-filter: blur(1px);
  -ms-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: blur(1px);
}

/**
 * @description: 显示省略号
 */
@mixin line-one {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 2行数
@mixin line-number {
  /* 有些示例里需要定义该属性，实际可省略 */
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 2;

  /* 规定超过两行的部分截断 */
  -webkit-box-orient: vertical;
}

/**
 * @description: m-居中
 */
@mixin m-center {
  margin: 0 auto;
}

@mixin line-numbers($num) {
  /* 有些示例里需要定义该属性，实际可省略 */
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: $num;

  /* 规定超过两行的部分截断 */
  -webkit-box-orient: vertical;
}

/**
 * @description: 滚动条
 */
@mixin scroll {
  // 整个滚动条.
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  //滚动条轨道.
  ::-webkit-scrollbar-track {
    width: 6px;
    background: rgba(#101f1c, 0.1);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
  }
  //滚动条上的滚动滑块.
  ::-webkit-scrollbar-thumb {
    min-height: 28px;
    background-color: rgba(#101f1c, 0.5);
    background-clip: padding-box;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(#101f1c, 1);
  }
}

/*上 下 左 右边 偏移*/
@mixin excursion($t, $b, $l, $r) {
  @if $t !=null {
    top: $t;
  }
  @if $b !=null {
    bottom: $b;
  }
  @if $l !=null {
    left: $l;
  }
  @if $r !=null {
    right: $r;
  }
}

@mixin center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

@screen lg {
  .sbootom {
    @apply hidden;
  }
}

@screen md {
  .sbootom {
    @apply hidden;
  }
}

@screen 2xl {
  .sbootom {
    @apply hidden;
  }
}

@screen xl {
  .sbootom {
    @apply hidden;
  }
}
