@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* 自定义初始化样式 */
@layer base {
  html {
    @apply antialiased;
  }

  body {
    /* 条纹背景框 */

    /* background:
      linear-gradient(45deg, #92baac 45px, transparent 45px) 64px 64px,
      linear-gradient(45deg, #92baac 45px, transparent 45px, transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px),
      linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px, #92baac 68px, #92baac 113px, transparent 113px, transparent 158px, #92baac 158px);
    background-color: #e1ebbd;
    background-size: 128px 128px; */
  }
}

@screen lg {
  .sbootom {
    @apply hidden;
  }
}

@screen xp {
  body {
    background-color: #fff;
  }
}

@screen md {
  .sbootom {
    @apply hidden;
  }
}

@screen 2xl {
  .sbootom {
    @apply hidden;
  }
}

@screen xl {
  .sbootom {
    @apply hidden;
  }
}
