
#software {
  @apply w-full h-full;

  .software_main {
    @include initialize($w, 90%, 3.6%, null, $ml, null, #fafafa);

    @apply shadow-sm rounded-sm overflow-auto;

    .software_content {
      @apply m-2;

      .software_content_div {
        @include initialize(100%, 125px, 10px, null, null, null, #ffffff);

        @apply mb-6 shadow rounded-sm cursor-pointer;

        .software_content_img {
          @include w-h(20%, 100%);

          @apply p-2;

          img {
            @include w-h(100%, 100%);
          }
        }

        .oftware_content__frame {
          @include w-h(80%, 100%);

          .oftware_content__frame-1 {
            @apply m-1 px-1 text-base font-semibold;

            @include line-one;
          }

          .oftware_content__frame-2 {
            @apply px-2 m-1 p-1 text-sm font-thin;

            height: 51%;

            @include line-numbers(3);
          }

          .oftware_content__frame-3 {
            @apply m-1 px-1 font-semibold;

            span {
              @apply p-1;
            }
          }
        }
      }
    }
  }
}
