@import '@/design/methodCss';
@import '@/design/uitl';

.tag {
  @apply fixed w-full h-full;

  .tag-main {
    @apply absolute shadow;

    top: 9%;
    left: 0%;
    width: 100%;
    height: 100%;

    .tag_content {
      @apply flex flex-nowrap;
      @apply mt-1;

      @include initialize(94%, 71%, null, null, 3%, null, #ffffff);

      // 侧边框
      .text-sidebar {
        @include w-h(25%, null);

        @apply overflow-auto shadow;

        .text-sidebar-forms {
          @apply p-1 m-1 bg-gray-100 cursor-pointer shadow;

          .forms-1 {
            @apply bg-gray-300 text-base p-1;
          }

          .forms-2 {
            @apply p-2;
          }
        }
      }

      // 内容
      .text-blog {
        @include w-h(75%, null);

        @apply px-1 bg-white shadow rounded-sm overflow-auto;

        .blog {
          @include blogs;

          @apply mt-1;
        }
      }
    }
  }
}
